################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Utility/Utility/obj/Debug
/Utility/Utility/bin/Debug
